body {
    color: $text-color !important;
}

.brosa-col-sm-vcenter {
    @media (min-width: $screen-sm-min) {
        display: inline-block;
        vertical-align: middle;
        float: none !important;
    }
}

.brosa-col-md-vcenter {
    @media (min-width: $screen-md-min) {
        display: inline-block;
        vertical-align: middle;
        float: none !important;
    }
}

.brosa-block {
    margin-bottom: 80px;
    &.mod-padded {
        padding: 50px;
    }
    p {
        padding: 20px 0;
    }
}

.brosa-inverted-block {
    background-color: #fff;
    color: $text-color;
}

.brosa-block-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
    padding: 25px 0;

    &.mod-highlight{
        position: relative;
        &.mod-sm-padding{
            height:66px;
        }
        &:before{
            position: absolute;
            content: ' ';
            width: 80px;
            height: 20px;
            bottom: 10px;
            left:0;
            background-color: $brand-primary;
        }
        span{
            position: absolute;
        }
    }
    &.mod-lg-line {
        line-height: 1.5;
    }
    &.mod-sm-padding {
        padding: 15px 0;
    }
    span.mod-highlight{
        position: relative;
        &:after{
            position: absolute;
            content: ' ';
            width: 80px;
            height: 20px;
            bottom: -5px;
            left:0;
            background-color: $brand-primary;
            z-index: -1;
        }
    }
}

.brosa-block-text {
    font-size: 16px;
    line-height: 30px;
}

.brosa-hero {
    height: 850px;
    background: url(../images/background.png) no-repeat center center;
    .hero-row {
        padding-top: 225px;
        @media (max-width: $screen-md-min) {
            padding-top: 80px;
        }
    }
    .hero-bottom-row {
        padding-bottom: 125px;
        @media (max-width: $screen-md-min) {
            padding-bottom: 20px;
        }
    }
}

.hero-initial {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    display: inline-block;
    padding: 5px 20px;
    background-color: #7BEDC7;
    &.mod-sm {
        font-size: 14px;
        color: #ffffff;
    }
}

.hero-title {
    font-size: 48px;
    line-height: 80px;
    text-transform: uppercase;
    border: 10px solid #60606E;
}

.hero-sub-title {
    padding-top: 25px;
    font-size: 16px;
}

.brosa-button {
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    line-height: 20px;
    &.btn-primary.mod-invert {
        background-color: #fff;
        color: $brand-primary;
        &:hover {
            background-color: #fff;
            color: darken($brand-primary, 10%);
        }
    }
    &.mod-lg {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.brosa-card {
    padding: 30px 25px;
    margin-bottom: 10px;
    border-top: 5px solid $brand-primary;
    position: relative;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.6s ease-in-out;
    .brosa-card-content {
        height: 250px;
        padding: 15px 0;
    }
    &::after {
        content: ' ';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 10px solid $brand-primary;
        border-left: 10px solid transparent;
        width: 0;
        height: 0;
    }
    &:hover {
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    }
}

.brosa-list {
    list-style: none;
    padding: 0;
    .list-item+.list-item {
        padding-top: 15px;
    }
}

.brosa-media {
    @include clearfix();
    .media-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        float: left;
        padding: 3px;
        background-color: $brand-primary;
        svg {
            width: 14px;
            height: 14px;
            fill: #fff;
        }
    }
    .media-icon+.media-body {
        width: calc(100% - 30px);
        display: inline-block;
        float: left;
    }
}

.mod-bg-primary {
    background-color: $brand-primary;
    color: #fff;
}

.brosa-input-group {
    @include clearfix();
    width: 100%;
    margin-bottom: 30px;
    .brosa-input {
        float: left;
        width: calc(100% - 100px);
        border-radius: 0;
        outline: none;
        box-shadow: none;
        border-right: 0;
        padding-top: 13px;
        padding-bottom: 13px;
        height: 48px;
        &::placeholder {
            text-transform: uppercase;
            color: lighten($text-color, 30%);
        }
        &:focus {
            border-color: $brand-primary;
        }
    }
    .brosa-input-addon {
        float: left;
        width: 100px;
        border-radius: 0;
    }
}

.navbar-header {
    .brosa-brand {
        color: $text-color;
    }
}

#brosa-navbar {
    svg {
        width: 25px;
        height: 25px;
    }
    .navbar-header {
        float: left;
    }
    &.navbar-default {
        background-color: transparent;
        border-color: transparent;
        li:hover {
            background-color: $navbar-default-border;
        }
    }
    &.navbar-inverse {
        border-color: #ddd;
        .navbar-brand {
            color: #fff;
        }
        svg {
            fill: #fff;
        }
        li:hover {
            background-color: #ddd;
        }
    }
    .navbar-nav.navbar-right {
        @media (max-width: $screen-md-min) {
            float: right;
        }
    }
}
